@font-face {
  font-family: 'friz-quadrata-std';
  src: local('friz-quadrata-std'), url(../fonts/friz-quadrata-std.otf) format('opentype');
}
.background-component {
  background: url(https://images.pexels.com/photos/289367/pexels-photo-289367.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(8px);
  z-index: -999;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'friz-quadrata-std';
  color: white;
  max-height: 100vh;
  overflow: hidden;
}
